header nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.submenu {
  position: relative;
}

.submenu > ul {
  position: absolute;
  background: rgba(109, 82, 82, 0.144);
}

.list {
  transition: all 0.4s ease-in-out  ;
  visibility: hidden;
  opacity: 0;
}

.navitem:hover {
  background: lavenderblush;
  transition: background 0.4s ease-in-out;
}

.navitem:hover .list {
  visibility: visible;
  opacity: 1;
}
